{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Investir en Afrique!{% endblock %}

{% block content %}
<h2> Nous contacter </h2> 
<p> N'hésitez pas à prendre contact avec notre équipe, nous répondrons dans les meilleurs délais.</p>
 {% for message in app.flashes ('notice') %}
    <div class="alert alert-info"> {{ message }}</div>
    {% endfor %}
<div class="col-md-8">{{ form(form) }}</div>
<div class="col-md-4">
<strong> Investir en Afrique </strong>
<hr>
06 50 48 58 48<br/>
8 allée des vallée, 75000 Paris.<br/>
contact@investirenafrique.fr<br/>
</div>
</div>
{% endblock %}

